<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div id="wrapper">

            <div id="header">
                <div id="navbar">
                    <div id="menu-header">
                        <ul id="menu">
                            <li class="menu-item"><a href="/">Home</a></li>
                            <li class="menu-item {% if page.url == '/officers/' %}current-page {% endif %}"><a href="/officers/">Officers</a></li>
                            <li class="menu-item {% if page.url == '/schedule/' %}current-page {% endif %}"><a href="/schedule/">Showings</a></li>
                            <li class="menu-item {% if page.url == '/konshuu/' %}current-page {% endif %}"><a href="/konshuu/">Konshuu</a></li>
                            <li class="menu-item {% if page.url == '/chat/' %}current-page {% endif %}"><a href="/chat/">IRC</a></li>
                        </ul>
                    </div>
                </div>
            </div>

      <div id="main">
        {{ content }}
      </div>

      {% include footer.html %}

    </div>
  </body>
</html>
