@font-face {
    font-family: "Cyntho Pro Regular";
    src: url("../assets/CynthoPro-Regular.woff");
}

body {
    font-family: "Cyntho Pro Regular";
    background-color: #353436;
    color: #1E1E1E;
    margin: 0;
}

.sep {
    margin: 0em auto 1em;
    display: block;
    border: none;
    color: black;
    height: 1px;
    background: -webkit-linear-gradient(left, black, rgba(255,255,255,0.1));
    background: -moz-linear-gradient(left, black, white);
}

#wrapper {
    width: 849px;
    margin: 0 auto;
    min-height: 600px;
    background: url('../assets/banner.png') top center no-repeat;
    vertical-align: baseline;
}

#header {
    padding: 0;
}

#footer {
    text-align: right;
    padding: 15px 0;
    font-size: 12px;
    color: white;
}

#navbar {
    background: rgba(0,0,0,0.5);
    display: block;
    float: left;
    margin: 0 auto;
    width: 843px;
    margin-top: 278px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-left: 3px solid #000000;
    border-right: 4px solid #000000;
    border-radius: 1px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

#menu {
    list-style: none;
    margin: 0;
    padding: 0;

}

#navbar #menu li {
    float: left;
    position: relative;
    text-align: left;
}

#navbar a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    padding: 0 15px;
    line-height: 35px;
}

#navbar a:hover {
    background: rgba(0,0,0,1);
}

.current-page {
    background: rgba(0,0,0,1);
}

#main {
    clear: both;
    overflow: hidden;
    padding: 30px 0px;
    /*border-top: 1px solid black;*/
    background-color: rgba(255,255,255,0.99);
    border-radius: 1px;

}

#main a {
    text-decoration: none;
    color: inherit;
    border-bottom: 0.12em solid #adadad;
    padding: 2px 2px 0px;
}

#main a:hover {
    background: #cccccc;
    border-radius: 2.5px;
}

#main h1 {
    margin: 0 0 0.5em;
    padding: 0 15px 1px;
    border-bottom: 2px solid #000000;
}

#main h2 {
    margin: 1em auto 0;
    padding: 0 15px 1px;
    font-weight: normal;
}

#main p {
    padding: 5px 15px;
}

/**** Schedules  ****/
table.schedule {
    margin: 1.5em auto 3em;
    border-collapse: collapse;
}

table.schedule tbody {
    vertical-align: middle;
}

.schedule td, .schedule th {
    padding: 4px 10px;
    text-align: center;
}

.schedule tbody tr:first-child /*.table-header*/ {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.schedule tbody tr:not(:first-child) /*.table-entry*/ {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
}

.schedule tbody tr:not(:first-child):hover /*.table-entry:hover*/ {
    background-color: rgba(0,0,0,0.1);
}

.schedule .date {
    width: 100px;
}

.schedule .series {
    width: 420px;
}

.schedule .location {
    width: 140px;
}

.archive {
    padding: 2px 20px 5px;
    position: relative;
}
/**** Schedules ****/


/**** Spoilers ****/
.spoilerbutton {
    position: absolute;
    top: 0em;
    margin: 0 10px;
}

.spoiler {
    overflow: hidden;
    background: inherit;
}

.spoiler > div {
    -webkit-transition: all 1s ease;
    -moz-transition: margin 1s ease;
    -o-transition: all 1s ease;
    transition: margin 1s ease;
}

.spoilerbutton[value="Show"] + .spoiler > div {
    margin-top: -150%;
}

.spoilerbutton[value="Hide"] + .spoiler {
    padding: 5px;
}
/**** Spoilers ****/

/**** Officers ****/
table.department {
    border-collapse: separate;
    border-spacing: 0 3px;
    margin: 1em 0 4em;
}

.department td {
    padding: 10px 10px;
    text-align: left;
    background: inherit;
    color: white;
    border-bottom: 1px solid black;
}

.officer td:not(:first-child) {
    padding: 10px 20px;
    background: black;
}

.officer h3 {
    font-size: 25px;
    margin-bottom: 0;
}

.officer h4 {
    margin: 0;
    padding-left: 20px;
}
/**** Officers ****/

#chat-box {
    text-align: center;
}